body {
    font-family: 'Monaco', monospace;
    display: flex;
    flex-direction: column; 
    margin: 0;
    color: white;
}
.header {
    display: flex;
    margin: 0;
    padding: 4px 16px;
    align-items: center;
    justify-content: space-between;
    background-color: #146C94;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}
.one-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F1F1;
    border-bottom: 5px dotted #AFD3E2;
}
.sub-one-container{
    margin: 0;
    display: flex;
    background-color: #146C94;
    padding: 12px 12px;
    height: 150px;
    width: 350px;
    color: white;
    flex-direction: column;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 4px 4px 2px gray;
}

.sub-one-container button {
    margin-top: 10px;
    color: white;
    background-color: #19A7CE;
    border: none;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 2px rgb(148, 165, 171);
}
button:hover {
    transition: 0.3s;
    opacity: 80%;
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: none;
}
.two-container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F1F1;
    height: 565px;
    justify-content: center;
    
}
#title {
    background-color: #19A7CE;
    border-radius: 4px;
    padding: 0 4px;
    color: white;
}
.plates {
    display: flex;
    gap: 8px;
    
}
.plate-one, .plate-two, .plate-three {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}
img {
    border: 10px ridge #19A7CE;
    border-radius: 14px;
}
.third-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #146C94;
    height: 25px;
}
.third-container div {
    transform: translateY(15px);
    font-size: 12px;
}
.footer {
    background-color: #146C94;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-style: italic;
}
