body {
    font-family: 'Monaco', monospace;
    display: flex;
    flex-direction: column; 
    margin: 0;
    color: white;
}
.header {
    display: flex;
    margin: 0;
    padding: 4px 16px;
    align-items: center;
    justify-content: space-between;
    background-color: #146C94;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}
.one-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19A7CE;
    border-bottom: 5px dotted #146C94;
}
.sub-one-container{
    margin: 0;
    display: flex;
    background-color: #146C94;
    padding: 12px 12px;
    height: 150px;
    width: 350px;
    color: white;
    flex-direction: column;
    border-radius: 4px;
    font-size: 13px;
    
}

.sub-one-container button {
    margin-top: 10px;
    color: white;
    background-color: #19A7CE;
    border: none;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}
button:hover {
    transition: 0.3s;
    opacity: 80%;
    cursor: pointer;
}
.two-container {
    color: black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plates {
    display: flex;
    gap: 8px;
}
.plate-one, .plate-two, .plate-three {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}
img {
    min-height: 127px;
    min-width: 183px;
    box-sizing: border-box;
}
